# Drupal generated/public files
/web/sites/default/files/js/
/web/sites/default/files/css/
/web/sites/default/files/php/
/web/sites/default/files/styles/
/web/sites/default/files/assets/

# Drupal temporary files
/web/sites/default/files/tmp/

# Keep exported Drupal configuration
!/web/sites/default/files/sync/
!/web/sites/default/files/sync/*.yml

# DDEV files
/.ddev/.dbimageinfo

